.productList {
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
}
.productList .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* --------------------------- Product Card -------------------- */
.productCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: red;
     width: 380px;
     height: 250px;
     border-radius: 5px;
}
.productCard img {
    width: 250px;
    height: 200px;
}
.productCard button {
    width: 100px;
    height: 35px;
    margin-top: 15px;
    border-bottom: 5px solid #EEE;
    background-color: transparent;
    font-size: 18px;
    color: #EEE;
}

/* --------------------------- Product -------------------------- */

.productList .section {
    margin-top: 50px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}
.productList .headerProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productList .headerProduct ul {
    display: flex;
    align-items: center;  
}
.productList .headerProduct ul li {
    margin-left: 10px;
    font-size: 14px;
}
.productList .headerProduct ul li button {
    color: #000;
    transition: .6s;
    background-color: transparent;
}
.productList .headerProduct ul li button:hover {
    color: #9e9e9e;
}
.productList hr {
    margin: 15px 0;
}

/* ------------------------- Card Product --------------------------- */
.productList .sectionProduct {
    display: flex;
    align-items: center;
    justify-content: start;
}
.productList .product {
    display: flex;
    align-items: center;
    width: 230px;
    cursor: pointer;
    transform: .6s;
    margin-right: 5px;
}
.productList .product:hover {
    background-color: #fafafa;
}
.productList .product img {
    width: 80px;
    height: 80px;
}
.productList .product p {
    font-size: 14px;
    
}
.productList .product .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 0;
    margin-top: 10px;
}