* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
li {
  list-style: none;
}